In [12]:
!jt -t  onedork

In [1]:
import numpy as np
import pandas as pd
import scipy as sp
import matplotlib as plt

In [2]:
#시리즈 생성
#판다스 내장 함수인 Series() 사용
dict_data={ 'a':1, 'b':2, 'c':3}
series_1=pd.Series(dict_data)
print(series_1)
print(type(series_1))

a    1
b    2
c    3
dtype: int64
<class 'pandas.core.series.Series'>

In [3]:
list_1=['2022-05-23',3.14,'우성균',100,True]
sr2=pd.Series(list_1)
print(sr2)
print(type(sr2))


#인덱스 받기
idx=sr2.index
#데이터값 받기
val=sr2.values

print(idx)
print(val)
print(type(val))

0    2022-05-23
1          3.14
2           우성균
3           100
4          True
dtype: object
<class 'pandas.core.series.Series'>
RangeIndex(start=0, stop=5, step=1)
['2022-05-23' 3.14 '우성균' 100 True]
<class 'numpy.ndarray'>

In [4]:
#튜플 => 시리즈
# 정수형 인덱스를 사용하는 대신 따로 인덱스 정의해보기
tuple_data=('우성균','2022-05-23','남성',True)
#index 변수에 리스트 형식으로
idx=['이름','오늘날짜','성별','학생여부']
sr=pd.Series(tuple_data,idx)
print(sr)

이름             우성균
오늘날짜    2022-05-23
성별              남성
학생여부          True
dtype: object

In [5]:
print(sr['이름'])
print(sr[1])

우성균
2022-05-23

In [6]:
print(sr[['오늘날짜','성별']])
print(sr[[1,2]])

오늘날짜    2022-05-23
성별              남성
dtype: object
오늘날짜    2022-05-23
성별              남성
dtype: object

In [7]:
#리스트 원소3 다중선택, 슬라이싱
print(sr[1:4])
print(sr['오늘날짜':'성별'])

오늘날짜    2022-05-23
성별              남성
학생여부          True
dtype: object
오늘날짜    2022-05-23
성별              남성
dtype: object

In [8]:
#딕셔너리를 데이터프레임으로 변환하기
key=['c0','c1','c2','c3','c4']
val=[[1,2,3],[4,5,6],[7,8,9],[10,11,12],[13,14,15]]
dict_data=dict(zip(key,val))
print(dict_data)
df=pd.DataFrame(dict_data)

{'c0': [1, 2, 3], 'c1': [4, 5, 6], 'c2': [7, 8, 9], 'c3': [10, 11, 12], 'c4': [13, 14, 15]}

In [9]:
#데이터 프레임 리스트를 써서 만들기
list_1=[26,'남성','서울시립대']
list_2=[23,'여성','서울대']
list_3=[21,'여성','건국대']
col=['나이','성별','학교']
idx= ['김똘똘','나예쁜','떡볶이']
df=pd.DataFrame([list_1,list_2,list_3],index=idx,columns=col)
print(df)
print(df.index)
print(df.columns)

     나이  성별     학교
김똘똘  26  남성  서울시립대
나예쁜  23  여성    서울대
떡볶이  21  여성    건국대
Index(['김똘똘', '나예쁜', '떡볶이'], dtype='object')
Index(['나이', '성별', '학교'], dtype='object')

In [10]:
#열 확인법
new_name=['성재','재은','효풍']
new_col=['춘추','남녀','소속']
df.index= new_name
df.columns=new_col
print(df)

df.rename(index={'성재':'영호','재은':'유정','효풍':'동건'},inplace=True)
df.rename(columns={'춘추':'나이','남녀':'성별','소속':'학교'},inplace=True)
print(df)

    춘추  남녀     소속
성재  26  남성  서울시립대
재은  23  여성    서울대
효풍  21  여성    건국대
    나이  성별     학교
영호  26  남성  서울시립대
유정  23  여성    서울대
동건  21  여성    건국대

In [11]:
#인덱스, 열이름 변경법
df2=df.rename(index={'성재':'영호','재은':'유정','효풍':'동건'})
df3=df2.rename(columns={'춘추':'나이','남녀':'성별','소속':'학교'})
print(df3)

    나이  성별     학교
영호  26  남성  서울시립대
유정  23  여성    서울대
동건  21  여성    건국대

In [12]:
#행 제거 예제
key={'국어','수학','영어','음악'}
val=[[90,85,80],[99,98,97],[80,70,60],[50,50,50]]
dict_data=dict(zip(key,val))
idx=['우주','서원','성균']
df=pd.DataFrame(dict_data,idx)
print(df)
df2=df
df3=df

    수학  영어  국어  음악
우주  90  99  80  50
서원  85  98  70  50
성균  80  97  60  50

In [13]:
# 행 제거하기
df.drop(['우주'],axis=0)

    수학  영어  국어  음악
서원  85  98  70  50
성균  80  97  60  50

In [14]:
print(df3)

    수학  영어  국어  음악
우주  90  99  80  50
서원  85  98  70  50
성균  80  97  60  50

In [15]:
idx=['소연','한나','유경']
df4=pd.DataFrame(dict_data,idx)

In [16]:
df5=df4
df5.drop(['소연','한나'],inplace=True)
df5.drop(['국어'],axis=1)

    수학  영어  음악
유경  80  97  50

In [17]:
idx=['소연','한나','유경']
df4=pd.DataFrame(dict_data,idx)

In [18]:
idx=['소연','한나','유경']
df4=pd.DataFrame(dict_data,idx)
df4.drop(['영어','음악'],axis=1)

    수학  국어
소연  90  80
한나  85  70
유경  80  60

In [19]:
#행 제거 예제
key={'국어','수학','영어','음악'}
val=[[90,85,80],[99,98,97],[80,70,60],[50,50,50]]
dict_data=dict(zip(key,val))
idx=['원혁','석호','수란']

df=pd.DataFrame(dict_data,idx)
print(df)

df_2=pd.DataFrame([[1,2,3],
                  [4,5,6],
                  [7,8,9]],['a','b','c'],['d','e','f'])
df_2

    수학  영어  국어  음악
원혁  90  99  80  50
석호  85  98  70  50
수란  80  97  60  50

   d  e  f
a  1  2  3
b  4  5  6
c  7  8  9

In [20]:
label1= df.loc['원혁']
position=df.iloc[0]
print(label1)
print(position)
print(type(label1))

수학    90
영어    99
국어    80
음악    50
Name: 원혁, dtype: int64
수학    90
영어    99
국어    80
음악    50
Name: 원혁, dtype: int64
<class 'pandas.core.series.Series'>

In [21]:
label2=df.loc['석호':'수란']
position2=df.iloc[1:3]
print(label2)
print(position2)
label3=df.loc[['석호','수란']]
print(label3)

print(type(label2))

    수학  영어  국어  음악
석호  85  98  70  50
수란  80  97  60  50
    수학  영어  국어  음악
석호  85  98  70  50
수란  80  97  60  50
    수학  영어  국어  음악
석호  85  98  70  50
수란  80  97  60  50
<class 'pandas.core.frame.DataFrame'>

In [22]:
#인덱싱
label3=df.loc['원혁':'수란']
position3=df.iloc[0:3]
print(label3)
print(position3)

    수학  영어  국어  음악
원혁  90  99  80  50
석호  85  98  70  50
수란  80  97  60  50
    수학  영어  국어  음악
원혁  90  99  80  50
석호  85  98  70  50
수란  80  97  60  50

In [23]:
# 열선택
df=pd.DataFrame(dict_data,idx)
math=df['수학']
print(math)

원혁    90
석호    85
수란    80
Name: 수학, dtype: int64

In [24]:
#열 선택하는 법
df.영어

원혁    99
석호    98
수란    97
Name: 영어, dtype: int64

In [25]:
two_class=df[['국어','음악']]
two_class

    국어  음악
원혁  80  50
석호  70  50
수란  60  50

In [26]:
key=['이름','국어','수학','영어','음악']
val=[['지선','혁준','지현'],[80,90,96],[80,86,94],[100,98,87],[70,90,100]]
dict_data=dict(zip(key,val))
df= pd.DataFrame(dict_data)
print(df)

   이름  국어  수학   영어   음악
0  지선  80  80  100   70
1  혁준  90  86   98   90
2  지현  96  94   87  100

In [27]:
df.set_index('이름',inplace=True)

In [28]:
df
print(df.index)
print(df.columns)
print(df)

Index(['지선', '혁준', '지현'], dtype='object', name='이름')
Index(['국어', '수학', '영어', '음악'], dtype='object')
    국어  수학   영어   음악
이름
지선  80  80  100   70
혁준  90  86   98   90
지현  96  94   87  100

In [29]:
print(df.loc['지선','영어'])
print(df.iloc[0,2])

100
100

In [30]:
print(df.loc['혁준',['국어','수학']])
print(df.iloc[1,[0,1]])

국어    90
수학    86
Name: 혁준, dtype: int64
국어    90
수학    86
Name: 혁준, dtype: int64

In [31]:
print(df.loc['지현','국어':'수학'])
print(df.iloc[2,0:2])

국어    96
수학    94
Name: 지현, dtype: int64
국어    96
수학    94
Name: 지현, dtype: int64

In [32]:
print(df.loc[['지선','혁준'],['수학','음악']])
print(df.iloc[[0,1],[1,3]])

    수학  음악
이름
지선  80  70
혁준  86  90
    수학  음악
이름
지선  80  70
혁준  86  90

In [33]:
print(df.loc['지선':'혁준','수학':'음악'])
print(df.iloc[0:2,1:4])

    수학   영어  음악
이름
지선  80  100  70
혁준  86   98  90
    수학   영어  음악
이름
지선  80  100  70
혁준  86   98  90

In [34]:
key=['이름','국어','수학','영어','음악']
val=[['남준','영롱','준영'],[80,90,96],[80,86,94],[100,98,87],[70,90,100]]
dict_data=dict(zip(key,val))
df= pd.DataFrame(dict_data)
df['체육']=[80,86,95]
df
df.insert(4,'과학',[90,100,85])

In [35]:
df

   이름  국어  수학   영어   과학   음악  체육
0  남준  80  80  100   90   70  80
1  영롱  90  86   98  100   90  86
2  준영  96  94   87   85  100  95

In [36]:
key=['이름','국어','수학','영어','음악']
val=[['남준','영롱','준영'],[80,90,96],[80,86,94],[100,98,87],[70,90,100]]
dict_data=dict(zip(key,val))
df= pd.DataFrame(dict_data)
#행을 추가하려는 경우 객체.loc['새로운 행 이름']=리스트 로 입력
#이 경우 df의 index가 정수 -> 이경우 loc[정수]로 입력하면 됨
df.loc[3]= 0
df.loc[4]=['철수',90,84,80,86]
df.loc[5]=df.loc[3]
df

   이름  국어  수학   영어   음악
0  남준  80  80  100   70
1  영롱  90  86   98   90
2  준영  96  94   87  100
3   0   0   0    0    0
4  철수  90  84   80   86
5   0   0   0    0    0

In [37]:
key=['이름','국어','수학','영어','음악']
val=[['남준','영롱','준영'],[80,90,96],[80,86,94],[100,98,87],[70,90,100]]
dict_data=dict(zip(key,val))
df= pd.DataFrame(dict_data)
df.loc[4]=['성민',100,75,85,80]
df

   이름   국어  수학   영어   음악
0  남준   80  80  100   70
1  영롱   90  86   98   90
2  준영   96  94   87  100
4  성민  100  75   85   80

In [38]:
exam_data2={'이름':'종현','국어':90,'수학':100,'음악':85}

In [39]:
label= df.iloc[:3]
label2=df.iloc[3]
print(label)
print(label2)

   이름  국어  수학   영어   음악
0  남준  80  80  100   70
1  영롱  90  86   98   90
2  준영  96  94   87  100
이름     성민
국어    100
수학     75
영어     85
음악     80
Name: 4, dtype: object

In [40]:
df=label.append(exam_data2,ignore_index=True ).append(label2,ignore_index=True)
#ignore_index 인자를 사용: index를 행의 순서대로 다시 붙여준다.

/var/folders/gs/314c_88575s6rqgp501f0zwh0000gn/T/ipykernel_40979/3399537427.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=label.append(exam_data2,ignore_index=True ).append(label2,ignore_index=True)
/var/folders/gs/314c_88575s6rqgp501f0zwh0000gn/T/ipykernel_40979/3399537427.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=label.append(exam_data2,ignore_index=True ).append(label2,ignore_index=True)

In [41]:
df.set_index('이름',inplace=True)
df.loc['성민','수학']

75

In [42]:
df.loc['종현','수학']=85

In [43]:
df.iloc[0,0]=90

In [44]:
df.loc['남준',['수학','영어']]=100

In [45]:
df.loc['종현',['국어','수학']]=[95,90]

In [46]:
df

     국어   수학     영어   음악
이름
남준   90  100  100.0   70
영롱   90   86   98.0   90
준영   96   94   87.0  100
종현   95   90    NaN   85
성민  100   75   85.0   80

In [47]:
key=['이름','국어','수학','영어','음악']
val=[['유정','동건','영호'],[80,90,96],[80,86,94],[100,98,87],[70,90,100]]
dict_data=dict(zip(key,val))
df= pd.DataFrame(dict_data)
df.set_index('이름',inplace=True)
df

    국어  수학   영어   음악
이름
유정  80  80  100   70
동건  90  86   98   90
영호  96  94   87  100

In [48]:
df=df.transpose()
df

이름   유정  동건   영호
국어   80  90   96
수학   80  86   94
영어  100  98   87
음악   70  90  100

In [49]:
print(df.index)

Index(['국어', '수학', '영어', '음악'], dtype='object')

In [50]:
key=['이름','국어','수학','영어','음악']
val=[['석호','성민','영롱'],[80,90,96],[80,86,94],[100,98,87],[70,90,100]]
dict_data=dict(zip(key,val))
#df는 정수 index, df_2는 index가 이름
df= pd.DataFrame(dict_data)
df_2=df.set_index('이름')
df

   이름  국어  수학   영어   음악
0  석호  80  80  100   70
1  성민  90  86   98   90
2  영롱  96  94   87  100

In [51]:
'''
특정 열을 행 인덱스로 설정(열이름)

'''
df_3=df_2.set_index('음악')
df_3

df_4=df_3.reset_index('음악')
print(df_4)

    음악  국어  수학   영어
0   70  80  80  100
1   90  90  86   98
2  100  96  94   87

In [52]:
#행 인덱스 지정은 두개 이상도 가능
df_4=df_2
df_4.set_index(['수학','영어'],inplace=True)

In [53]:
df_4

        국어   음악
수학 영어
80 100  80   70
86 98   90   90
94 87   96  100