자료형
- 자료형/데이터 타입: 숫자,문자와 같이 여러 종류의 데이터를 구분하기 위한 분류

분류 - 자료형 종류 7 가지
- 수치형 자료형 
 - 정수
 - 실수
- 문자열 자료형
- 부울 자료형
- 묶음형 자료형
 - 리스트 자료형
 - 튜플 자료형
 - 사전 자료형
 - 집합 자료형

In [11]:
a=123

In [12]:
print(type(a))

<class 'int'>

정수의 바이트 수를 확인해 보기
- (정수).bit_length()

In [18]:
print((9).bit_length())

4

실수 자료형 float

In [19]:
b=-118.625

In [24]:
print(type(b))
print(b)

<class 'float'>
-118.625

2진수 binary
- bin()함수 사용

In [25]:
print(bin(255))

0b11111111

8진수(octal)
- oct()함수 사용

In [26]:
print(oct(255))

0o377

In [27]:
print(hex(255))

0xff

In [30]:
a=7
b=3
print(a+b) #a와 b를 더한 값
print(a-b)   #a와 b를 뺀 값
print(a*b)    #a와 b를 곱한 값
print(a/b)    #a에서 b를 나눈 값
print(a **b)  # a의 b제곱
print(a%b) #a에서 b를 나눈 나머지
print(a//b) #a에서 b를 나눈 몫

10
4
21
2.3333333333333335
343
1
2

In [33]:
a= 'Hello World'
print(a)
print(type(a))

Hello World
<class 'str'>

In [34]:
b= '2' #이렇게 따음표로 넣으면 문자 class로 들어감
print(b)
print(type(b))

2
<class 'str'>

In [36]:
say= '"python is very easy"he says'
print(say)
say2= '\'python is very easy\'he says'
print(say2)

"python is very easy"he says
'python is very easy'he says

In [37]:
money= '10000\\'
print(money)

10000\

이스케이프 문자 사용하기
줄바꿈

In [42]:
multiline='Life is short \n You need Python'

In [43]:
print(multiline)
multiline2= '''
Life is short
You need python
'''
print(multiline2)

Life is short
 You need Python

Life is short
You need python

In [44]:
multiline3='Life is short \t You need Python'
print(multiline3)

Life is short 	 You need Python

In [46]:
head=' python '
tail= 'is fun!'
print(head+tail)

 python is fun!

In [48]:
a='python '
print(2*a)

python python

print('\='*20 +'My Program')

In [53]:
print('='*20 +'\n''My Program'+'\n'+'='*20)

====================
My Program
====================

In [54]:
a= 'Life is too short'
print(len(a))

17

In [60]:
a='Life is too short. you need python'
print(a[-15])

y

In [68]:
#인덱싱하면 오른쪽 끝은 포함되지 않음
print(a[:4])
#시작번호를 생략해도 됨
print(a[:17])
print(a[19:])
print(a[:])
#you need 시작은 양수 끝지점은 음수로 표현해보기
print(a[19:-7])

Life
Life is too short
you need python
Life is too short. you need python
you need

a 변수에 Pithon 이란 문자열을 저장하고 Python으로 변경해보기
- 새로운 변수 생성은 X

In [73]:
#슬라이싱으로 쪼개서 내용을 변경해주는 방법
a= 'Pithon'
a= a[0]+'y'+a[2:]
print(a)
#인덱싱으로 글자를 바꾸는것은 불가능하다
#a[j]= value_j로 형식으로 재할당 불가

python

In [74]:
print('i eat %d apples' %3)

i eat 3 apples

In [75]:
number= 'five'
print('i eat %s apples' %number)

i eat five apples

In [82]:
number=3
day='three'
print('I ate %d apples. so i was sick for %s days' %(number,day))

I ate 3 apples. so i was sick for three days

In [86]:
print('Error is %d%%' %98)

Error is 98%

In [89]:
print('%-10s'%'hi')

hi

In [90]:
print('%f'%3.42134234)

3.421342

In [96]:
print('%10.4f'%3.42134234)

    3.4213

format()함수를 사용한 포매팅

In [97]:
print('{}{}{}'.format(11,22,33))

112233

In [99]:
number=3
day='three'
print('I ate {1} apples, so i was sick for {0} days'.format(number,day))

I ate three apples, so i was sick for 3 days

- 변수명을 지정해서 포매팅하는 방식은 format함수 안에서 변수를 만들어줘야 한다

format() 함수 정렬

In [105]:
#왼쪽 정렬을 하고 싶은 경우 {0:<10}
#오른쪽 정렬을 하고 싶은 경우 {0:>10}
print('{0:>10}'.format('hi'))

        hi

In [106]:
#가운데 정렬
print('{0:^10}'.format('hi'))

    hi

실수 표현하기

In [109]:
print('{}'.format(3.42134234))
#소숫점 x자리로 제한하기- 0:0.xf => 반올림으로 계산한다
print('{0:0.4f}'.format(3.42134234))
print('{0:0.4f}'.format(3.42134234))
#이 상태에서 y칸 띄워쓰기까지 하고 싶다면 0:y.xf
print('{0:10.4f}'.format(3.42134234))

3.42134234
3.4213
3.4213
    3.4213

f 문자열 포매팅

In [111]:
name= '홍길동'
age= 19
print(f'나의 이름은 {name}입니다. 나이는 {age}입니다.')
print(f'나의 이름은 {name}입니다. 나이는 {age+1}입니다.')

나의 이름은 홍길동입니다. 나이는 19입니다.
나의 이름은 홍길동입니다. 나이는 20입니다.

In [114]:
print(f"{'hi'}")

hi

In [118]:
#왼쪽 정렬
print(f'{"hi":<10}')
#가운데정렬
print(f'{"hi":^10}')
#오른쪽 정렬
print(f'{"hi":>10}')

hi
    hi
        hi

In [121]:
y=3.141592
print(f'{y:0.4f}')

3.1416

In [123]:
#열칸 띄우고 소숫점 4자리
print(f'{y:10.4f}')

    3.1416

In [125]:
#문자 갯수 세기 count
a= 'hobby'
print(a.count('b'))

2

In [134]:
#문자 위치 알려주기 find
a= 'python is the best choice'
print(a.find('s'))
print(a.index('b'))
#find() 함수를 이용하여 k문자 찾기
print(a.find('k')) # 없는 부분을 찾으면 -1이 나온다
#print(a.index('k')) #오류라고 뜬다

8
14
-1

ValueError: substring not found

- a 변수에 ',' 저장
- a 변수에 join()함수를 사용하여 'abcd'문자열에 적용

In [139]:
a=','
print('y'.join('abcd'))

aybycyd

In [142]:
a='hi'
print(a.upper())

HI

In [143]:
a='HI'
print(a.lower())

hi

In [145]:
a= ' hi '
#l이 왼쪽 공백 제거 r이 오른쪽 공백 제거
print(a.lstrip())
print(a.rstrip())
#strip은 양쪽 공백 제거
print(a.strip())

hi
 hi
hi

문자열 변경 함수 replace
- replace( 변경 전 문자열, 변경 후 문자열)

In [147]:
a='Life is too short'
#Life를 This pencil로 변경
print(a.replace('Life','This pencil'))

This pencil is too short

In [148]:
#공백을 기준으로 나누기
a='Life is too short'
print(a.split())

['Life', 'is', 'too', 'short']

In [149]:
b='a:b:c:d'
print(b.split(':'))

['a', 'b', 'c', 'd']

리스트 생성

In [154]:
a= []
b= [1,2,3]
c= ['Life','is','too','short']
d=['1','Life',2,'is']

#예약해놓고 나중에 사용할 때 a의 형태로 씀

In [155]:
print(type(a),type(b),type(c),type(d))
print(a)
print(b)
print(c)
print(d)

<class 'list'> <class 'list'> <class 'list'> <class 'list'>
[]
[1, 2, 3]
['Life', 'is', 'too', 'short']
['1', 'Life', 2, 'is']

In [156]:
a=[1,2,3]
b=[4,5,6]
print(a+b)

[1, 2, 3, 4, 5, 6]

In [157]:
print(a*2)

[1, 2, 3, 1, 2, 3]

- a 변수에 1,2,3 데이터를 리스트 형태로 저장
- b 변수에 'life' 'is' 'too' 'short' 데이터를 리스트 형태로 저장한다

In [158]:
a=[1,2,3]
b=['Life','is','too','short']
print(a[0])
print(a[-1])

1
3

In [160]:
a=[1,2,3,['a','b','c']]
print(a)
print(a[3][0])

[1, 2, 3, ['a', 'b', 'c']]
a

In [161]:
#삼중 인덱싱/ life 출력하기
a=[1,2,['a','b',['life','is']]]
print(a[2][2][0])

life

리스트 슬라이싱
- 리스트 a 에 1,2,3,4,5 저장
- 0번 자리부터 1번 자리까지 슬라이싱

In [162]:
a=[1,2,3,4,5]
print(a[0:2])

[1, 2]

이중 리스트 슬라이싱
- 리스트 a에 1,2,3['a','b','c'],4,5]로 저장

In [180]:
a=[1,2,3,['a','b','c'],4,5]
print(a[0:5])
#리스트 a에서 'b'와 'c'를 출력하기
print(a[3][1:3])

[1, 2, 3, ['a', 'b', 'c'], 4]
['b', 'c']

In [182]:
#리스트의 수정과 삭제
a=[1,2,3]
a[2]=4
print(a)

[1, 2, 4]

In [183]:
#인덱싱을 사용하여 내용을 수정할 경우 
a[1:2]= ['a','b','c']
print(a)

[1, 'a', 'b', 'c', 4]

In [184]:

#슬라이싱을 사용하여 내용을 수정할 경우
a[0]= ['a1','b1','c1']
print(a)

[['a1', 'b1', 'c1'], 'a', 'b', 'c', 4]

In [185]:
a[1:3]=[]
print(a)

[['a1', 'b1', 'c1'], 'c', 4]

In [186]:
del a[0]
print(a)

['c', 4]

In [191]:
a=[1,2,3]
a.append(4)
print(a)
a.append([5,6])
print(a)

[1, 2, 3, 4]
[1, 2, 3, 4, [5, 6]]