시리즈
- 데이터가 순차적으로 나열된 1차원 배열(열 벡터)
- 인덱스는 데이터 값과 일대일 대응

시리즈 생성
- 판다스 내장 함수인 Series() 사용

딕셔너리 -> 시리즈<br>
pandas 모듈 불러오기(pd로 줄여서 불러오기)<br>
dict_data 딕셔너리 생성
- a 키에는 1, b 키에는 2, c 키에는 3

판다스의 Series() 함수를 사용하여 dict_data 딕셔너리를 sr 시리즈로 변환<br>
sr 출력<br>
sr 데이터 타입 출력

In [1]:
import pandas as pd
dict_data = {'a' : 1, 'b' : 2, 'c' : 3}
sr = pd.Series(dict_data)
print(sr)
print(type(sr))

a    1
b    2
c    3
dtype: int64
<class 'pandas.core.series.Series'>

인덱스
- 자신과 짝을 이루는 데이터 값의 순서와 주소를 저장

리스트 -> 시리즈<br>
pandas 모듈 불러오기(pd로 줄여서 불러오기)<br>
list_data 리스트 생성
- 값 : 2022-05-23, 3.14, '여러분들 이름', 100, True

판다스의 Series() 함수를 사용하여 list_data 리스트를 sr 시리즈로 변환<br>
sr 출력<br>
sr 데이터 타입 출력

In [2]:
import pandas as pd

list_data = ['2022-05-23', 3.14, '오규석', 100, True]

sr = pd.Series(list_data)
print(sr)
print(type(sr))

0    2022-05-23
1          3.14
2           오규석
3           100
4          True
dtype: object
<class 'pandas.core.series.Series'>

- 0 ~ 4 : 정수형 위치 인덱스
- 인덱스 종류
 - 정수형 위치 인덱스
 - 인덱스 이름

시리즈의 인덱스와 데이터를 따로 확인
- 인덱스 확인할 때 시리즈명.index
- 데이터 값 확인할 때 시리즈명.values

pandas 모듈 불러오기(pd로 줄여서 불러오기)<br>
list_data 리스트 생성
- 값 : 2022-05-23, 3.14, '여러분들 이름', 100, True

판다스의 Series() 함수를 사용하여 list_data 리스트를 sr 시리즈로 변환<br>
idx 변수 선언
- sr 시리즈의 index

val 변수 선언
- sr 시리즈의 values

idx 출력<br>
val 출력

In [3]:
import pandas as pd

list_data = ['2022-05-23', 3.14, '오규석', 100, True]

sr = pd.Series(list_data)

idx = sr.index
val = sr.values

print(idx)
print(val)

RangeIndex(start=0, stop=5, step=1)
['2022-05-23' 3.14 '오규석' 100 True]

In [4]:
print(type(val))

<class 'numpy.ndarray'>

튜플 -> 시리즈(인덱스 정의)
pandas 모듈 불러오기(pd로 줄여서 불러오기)<br>
tup_data 튜플 생성
- 값 : '여러분들 이름', 2022-05-23, '여러분들 성별', True

판다스의 Series() 함수를 사용하여 tup_data 튜플을 sr 시리즈로 변환
- 두번째 인자 지정
 - index 인자(변수)에 리스트 형식으로 각각 이름, 오늘날짜, 성별, 학생여부

sr 출력

In [5]:
import pandas as pd

tup_data = ('규석', '2022-05-23', '남', True)

sr = pd.Series(tup_data, index = ['이름', '오늘날짜', '성별', '학생여부'])

print(sr)

이름              규석
오늘날짜    2022-05-23
성별               남
학생여부          True
dtype: object

리스트 원소 선택1(정수형 위치 인덱스)
- 시리즈명[위치]

In [6]:
print(sr[0])

규석

리스트 원소 선택1(인덱스 이름)
- 시리즈명['인덱스명']

In [7]:
print(sr['이름'])

규석

리스트 원소 선택2(다중 선택, 정수형 위치 인덱스)
- 시리즈명[[위치, 위치]]
 - 1번 위치, 2번 위치

In [8]:
print(sr[[1, 2]])

오늘날짜    2022-05-23
성별               남
dtype: object

리스트 원소 선택2(다중 선택, 인덱스 이름)
- 시리즈명[[인덱스명, 인덱스명]]
 - 오늘날짜, 성별

In [9]:
print(sr[['오늘날짜', '성별']])

오늘날짜    2022-05-23
성별               남
dtype: object

리스트 원소 선택3(다중 선택, 정수형 위치 인덱스)
- 시리즈명[처음 위치:마지막 위치]
- 1번자리부터 2번자리까지

In [11]:
print(sr[1:3])

오늘날짜    2022-05-23
성별               남
dtype: object

리스트 원소 선택3(다중 선택, 인덱스 이름)
- 시리즈명['인덱스명':'인덱스명']
- 오늘날짜부터 성별까지

In [13]:
print(sr['오늘날짜':'성별'])

오늘날짜    2022-05-23
성별               남
dtype: object

데이터프레임
- 2차원 배열
- 같은 행 인덱스를 기준으로 결합된 2차원 벡터 또는 행렬
- 행과 열을 나타내기 위해서는 행 인덱스와 열 이름 두 가지 사용

데이터프레임 생성
- 판다스 내장 함수인 DataFrame() 사용

딕셔너리(값 : 리스트) -> 데이터프레임<br>
pandas 모듈 불러오기(pd로 줄여서 불러오기)<br>
딕셔너리 생성
- dict_data
- 키 : c0, c1, c2, c3, c4
- 값 : [1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15]

판다스의 DataFrame() 함수를 사용하여 dict_data 딕셔너리를 df 데이터프레임으로 변환<br>
df 출력<br>
df 데이터 타입 출력

In [14]:
import pandas as pd

dict_data = {'c0' : [1, 2 ,3], 'c1' : [4, 5, 6], 'c2' : [7, 8, 9], 'c3' : [10, 11, 12], 'c4' : [13, 14, 15]}

df = pd.DataFrame(dict_data)

print(df)
print(type(df))

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15
<class 'pandas.core.frame.DataFrame'>

행 인덱스 / 열 이름 직접 지정(딕셔너리 사용 X, 리스트 사용)
- pandas.DataFrame([리스트1, 리스트2, 리스트3..], index=리스트, columns=리스트)

pandas 모듈 불러오기(pd로 줄여서 불러오기)<br>
df 객체 생성
- pandas.DataFrame() 함수 사용
- 리스트1 : [가상의 나이, 가상의 성별, 가상의 대학교]
- 리스트2 : [가상의 나이, 가상의 성별, 가상의 대학교]
- 리스트3 : [가상의 나이, 가상의 성별, 가상의 대학교]
- index : [가상의 이름, 가상의 이름, 가상의 이름]
- columns : ['나이' , '성별', '학교']

df 출력<br>
df 데이터 타입 출력

In [17]:
import pandas as pd

df = pd.DataFrame([[22, '남', '인천대'], [21, '남', '중앙대'], [20, '여', '연세대']],
                  index = ['규석', '은규', '진이'],
                  columns = ['나이', '성별', '학교'])

print(df)
print(type(df))

    나이 성별   학교
규석  22  남  인천대
은규  21  남  중앙대
진이  20  여  연세대
<class 'pandas.core.frame.DataFrame'>

인덱스 확인
- 데이터프레임명.index

In [18]:
print(df.index)

Index(['규석', '은규', '진이'], dtype='object')

열 이름 확인
- 데이터프레임명.columns

In [19]:
print(df.columns)

Index(['나이', '성별', '학교'], dtype='object')

행 인덱스 변경
- 데이터프레임 객체.index = 새로운 행 인덱스 배열(리스트)
 - 성재, 재은, 효풍

열 이름 변경
- 데이터프레임 객체.columns = 새로운 행 인덱스 배열(리스트)
 - 연령, 남녀, 소속

df 출력

In [20]:
df.index = ['성재', '재은', '효풍']
df.columns = ['연령', '남녀', '소속']

print(df)

    연령 남녀   소속
성재  22  남  인천대
재은  21  남  중앙대
효풍  20  여  연세대

행 인덱스 변경(rename 함수 사용)
- 데이터프레임 객체.rename(index = {기존 인덱스 : 새 인덱스, ...})
 - 성재 -> 영호, 재은 -> 유정, 효풍 -> 동건

열 이름 변경(rename 함수 사용)
- 데이터프레임 객체.rename(columns = {기존 열 이름 : 새 열 이름, ...})
 - 연령 -> 나이, 남녀 -> 성별, 소속 -> 학교

df 출력

In [27]:
df.rename(index = {'성재' : '영호', '재은' : '유정', '효풍' : '동건'})
df.rename(columns = {'연령' : '나이', '남녀' : '성별', '소속' : '학교'})

    나이 성별   학교
성재  22  남  인천대
재은  21  남  중앙대
효풍  20  여  연세대

- 변경 안 됨

변경 방법1(객체 새로 지정)

In [25]:
df2 = df.rename(index = {'성재' : '영호', '재은' : '유정', '효풍' : '동건'})
df2 = df2.rename(columns = {'연령' : '나이', '남녀' : '성별', '소속' : '학교'})

print(df2)
print("")
print(df)

    나이 성별   학교
영호  22  남  인천대
유정  21  남  중앙대
동건  20  여  연세대

    연령 남녀   소속
성재  22  남  인천대
재은  21  남  중앙대
효풍  20  여  연세대

변경 방법2(기존 객체 변경)

In [28]:
df.rename(index = {'성재' : '영호', '재은' : '유정', '효풍' : '동건'}, inplace = True)
df.rename(columns = {'연령' : '나이', '남녀' : '성별', '소속' : '학교'}, inplace = True)

print(df)

    나이 성별   학교
영호  22  남  인천대
유정  21  남  중앙대
동건  20  여  연세대

행 제거(drop 함수 사용)
- 데이터프레임 객체.drop(행 인덱스 또는 배열, axis = 0)

열 제거(drop 함수 사용)
- 데이터프레임 객체.drop(열 또는 배열, axis = 1)

pandas 모듈 불러오기(pd로 줄여서 불러오기)<br>
딕셔너리 생성
- exam_data
- 키 : '국어', '수학', '영어', '음악'
- 값 : [70, 90, 80], [90, 85, 80], [100, 80, 90], [70, 90, 100]

판다스의 DataFrame() 함수를 사용하여 exam_data 딕셔너리를 df 데이터프레임으로 변환
- index : '우주', '서원', '성균'

df2 객체 생성(df)<br>
df3 객체 생성(df)

In [31]:
import pandas as pd

exam_data = {'국어' : [70, 90, 80], '수학' : [80, 95, 80], '영어' : [100, 80, 90], '음악' : [70, 90, 100]}

df = pd.DataFrame(exam_data, index = ['우주', '서원', '성균'])

df2 = df
df3 = df

print(df)

    국어  수학   영어   음악
우주  70  80  100   70
서원  90  95   80   90
성균  80  80   90  100

In [32]:
print(id(df))
print(id(df2))
print(id(df3))

2273371071344
2273371071344
2273371071344

행 제거(drop 함수 사용)
- 데이터프레임 객체.drop(행 인덱스 또는 배열, axis = 0)
 - df2
 - '우주' 행에 해당하는 데이터 제거

In [33]:
df2.drop(['우주'], axis = 0)

    국어  수학  영어   음악
서원  90  95  80   90
성균  80  80  90  100

In [34]:
print(df2)

    국어  수학   영어   음악
우주  70  80  100   70
서원  90  95   80   90
성균  80  80   90  100

행 제거(drop 함수 사용)
- 데이터프레임 객체.drop(행 인덱스 또는 배열, axis = 0)
 - df3
 - '서원', '성균' 행에 해당하는 데이터 제거

In [35]:
df3.drop(['서원', '성균'], axis = 0)

    국어  수학   영어  음악
우주  70  80  100  70

pandas 모듈 불러오기(pd로 줄여서 불러오기)<br>
딕셔너리 생성
- exam_data
- 키 : '국어', '수학', '영어', '음악'
- 값 : [70, 90, 80], [90, 85, 80], [100, 80, 90], [70, 90, 100]

판다스의 DataFrame() 함수를 사용하여 exam_data 딕셔너리를 df 데이터프레임으로 변환
- index : '소연', '한나', '유경'

df2 객체 생성(df)<br>
df3 객체 생성(df)

In [36]:
import pandas as pd

exam_data = {'국어' : [70, 90, 80], '수학' : [80, 95, 80], '영어' : [100, 80, 90], '음악' : [70, 90, 100]}

df = pd.DataFrame(exam_data, index = ['소연', '한나', '유경'])

df2 = df
df3 = df

print(df)

    국어  수학   영어   음악
소연  70  80  100   70
한나  90  95   80   90
유경  80  80   90  100

열 제거(drop 함수 사용)
- 데이터프레임 객체.drop(열 또는 배열, axis = 1)
 - df2
 - 국어

In [37]:
df2.drop(['국어'], axis = 1)

    수학   영어   음악
소연  80  100   70
한나  95   80   90
유경  80   90  100

열 제거(drop 함수 사용)
- 데이터프레임 객체.drop(열 또는 배열, axis = 1)
 - df3
 - 영어, 음악

In [38]:
df3.drop(['영어', '음악'], axis = 1)

    국어  수학
소연  70  80
한나  90  95
유경  80  80

In [39]:
import pandas as pd

exam_data = {'국어' : [70, 90, 80], '수학' : [80, 95, 80], '영어' : [100, 80, 90], '음악' : [70, 90, 100]}

df = pd.DataFrame(exam_data, index = ['원혁', '석호', '수란'])

행 선택(방법 2가지)
- 인덱스 이름을 기준으로 행을 선택(loc) - location
 - 범위 끝이 포함
- 정수형 위치 인덱스를 기준으로 행을 선택(iloc) - int location
 - 범위 끝이 포함되지 않음

행 단일 선택
- 인덱스 이름 기준
 - 데이터프레임 객체.loc[인덱스 이름]
- 정수형 위치 인덱스 기준
 - 데이터프레임 객체.iloc[정수형 위치 인덱스]

인덱스 이름을 기준으로 '원혁' 데이터를 label1 객체에 저장<br>
정수형 위치 인덱스를 기준으로 '원혁' 데이터를 position1 객체에 저장<br>
label1 출력<br>
position1 출력<br>
label1 데이터 타입 출력

In [42]:
label1 = df.loc['원혁']
position1 = df.iloc[0]

print(label1)
print(position1)
print(type(label1))

국어     70
수학     80
영어    100
음악     70
Name: 원혁, dtype: int64
국어     70
수학     80
영어    100
음악     70
Name: 원혁, dtype: int64
<class 'pandas.core.series.Series'>

인덱스 이름을 기준으로 '석호', '수란' 데이터를 label2 객체에 저장<br>
정수형 위치 인덱스를 기준으로 '석호', '수란' 데이터를 position2 객체에 저장<br>
label2 출력<br>
position2 출력

In [46]:
label2 = df.loc[['석호', '수란']]
position2 = df.iloc[[1, 2]]

print(label2)
print(position2)
print(type(label2))

    수학  영어
석호  95  80
수란  80  90
    국어  수학  영어   음악
석호  90  95  80   90
수란  80  80  90  100
<class 'pandas.core.frame.DataFrame'>

인덱스 이름을 기준으로 '원혁', '석호', '수란' 데이터를 슬라이싱 형태로 선택하여 label3 객체에 저장<br>
정수형 위치 인덱스를 기준으로 '원혁', '석호', '수란' 데이터를 슬라이싱 형태로 선택하여 position3 객체에 저장<br>
label3 출력<br>
position3 출력

In [47]:
label3 = df.loc['원혁':'수란']
position3 = df.iloc[0:]

print(label3)
print(position3)

    국어  수학   영어   음악
원혁  70  80  100   70
석호  90  95   80   90
수란  80  80   90  100
    국어  수학   영어   음악
원혁  70  80  100   70
석호  90  95   80   90
수란  80  80   90  100

In [48]:
import pandas as pd

exam_data = {'국어' : [70, 90, 80], '수학' : [80, 95, 80], '영어' : [100, 80, 90], '음악' : [70, 90, 100]}

df = pd.DataFrame(exam_data, index = ['인덕', '재선', '근주'])

열 선택
- 열은 정수형 위치 인덱스라는 개념이 존재 X
- df[열 이름]
- 수학

In [54]:
math = df['수학']
print(math)

인덕    80
재선    95
근주    80
Name: 수학, dtype: int64

열 선택
- df.열 이름
- 영어

In [50]:
english = df.영어
print(english)

인덕    100
재선     80
근주     90
Name: 영어, dtype: int64

열 두 개 선택
- 국어, 음악

In [52]:
kor_music = df[['국어', '음악']]
print(kor_music)

    국어   음악
인덕  70   70
재선  90   90
근주  80  100

원소 선택 방법 2가지
- 인덱스 이름
 - 데이터프레임 객체.loc[행 인덱스 이름, 열 이름]
- 정수 위치 인덱스
 - 데이터프레임 객체.iloc[행 번호, 열 번호]

pandas 모듈 불러오기(pd로 줄여서 불러오기)<br>
딕셔너리 생성
- exam_data
- 키 : '이름', '국어', '수학', '영어', '음악'
- 값 : [지선, 혁준, 지현], [70, 90, 80], [90, 85, 80], [100, 80, 90], [70, 90, 100]

판다스의 DataFrame() 함수를 사용하여 exam_data 딕셔너리를 df 데이터프레임으로 변환

In [55]:
import pandas as pd

exam_data = {'이름' : ['지선', '혁준', '지현'], '국어' : [70, 90, 80], 
             '수학' : [80, 95, 80], '영어' : [100, 80, 90], '음악' : [70, 90, 100]}

df = pd.DataFrame(exam_data)
print(df)

   이름  국어  수학   영어   음악
0  지선  70  80  100   70
1  혁준  90  95   80   90
2  지현  80  80   90  100

- 행 인덱스가 정수형 위치 인덱스
 - 행 인덱스 이름으로 찾을 수 없음

'이름' 열을 행 인덱스로 지정
- 데이터프레임 객체.set_index(열 이름, inplace = True)

df 출력<br>
df 인덱스 출력<br>
df 열 이름 출력

In [56]:
df.set_index('이름', inplace=True)
print(df)
print(df.index)
print(df.columns)

    국어  수학   영어   음악
이름
지선  70  80  100   70
혁준  90  95   80   90
지현  80  80   90  100
Index(['지선', '혁준', '지현'], dtype='object', name='이름')
Index(['국어', '수학', '영어', '음악'], dtype='object')

'지선'의 '영어' 점수 요소 출력(인덱스 이름)
- 인덱스 이름
 - 데이터프레임 객체.loc[행 인덱스 이름, 열 이름]
 - 복수 : 데이터프레임 객체.loc[행 인덱스 이름, [열 이름, 열 이름]]
- 정수 위치 인덱스
 - 데이터프레임 객체.iloc[행 번호, 열 번호]
 - 복수 : 데이터프레임 객체.iloc[행 번호, [열 번호, 열 번호]]

In [59]:
a = df.loc['지선', '영어']
print(a)

100

'지선'의 '영어' 점수 요소 출력(정수형 위치 인덱스)

In [60]:
b = df.iloc[0, 2]
print(b)

100

'혁준'의 '국어', '수학' 점수 출력(인덱스 이름)

In [62]:
c = df.loc['혁준', ['국어', '수학']]
print(c)

국어    90
수학    95
Name: 혁준, dtype: int64

'혁준'의 '국어', '수학' 점수 출력(정수형 위치 인덱스)

In [64]:
d = df.iloc[1, [0, 1]]
print(d)

국어    90
수학    95
Name: 혁준, dtype: int64

'지현'의 '국어', '수학' 점수 출력(인덱스 이름, 슬라이싱)

In [65]:
e = df.loc['지현', '국어':'수학']
print(e)

국어    80
수학    80
Name: 지현, dtype: int64

'지현'의 '국어', '수학' 점수 출력(정수형 위치 인덱스, 슬라이싱)

In [66]:
f = df.iloc[2, 0:2]
print(f)

국어    80
수학    80
Name: 지현, dtype: int64

다중 선택

'지선'과 '혁준'의 '수학', '음악' 점수 출력(인덱스 이름)

In [68]:
g = df.loc[['지선', '혁준'], ['수학', '음악']]
print(g)

    수학  음악
이름
지선  80  70
혁준  95  90

'지선'과 '혁준'의 '수학', '음악' 점수 출력(정수형 위치 인덱스)

In [70]:
h = df.iloc[[0, 1], [1, 3]]
print(h)

    수학  음악
이름
지선  80  70
혁준  95  90

'혁준'과 '지현'의 '수학', '영어', '음악' 점수 출력(인덱스 이름, 슬라이싱)

In [74]:
i = df.loc['혁준':'지현', '수학':'음악']
print(i)

    수학  영어   음악
이름
혁준  95  80   90
지현  80  90  100

'혁준'과 '지현'의 '수학', '영어', '음악' 점수 출력(정수형 위치 인덱스, 슬라이싱)

In [77]:
j = df.iloc[1:, 1:]
print(j)

    수학  영어   음악
이름
혁준  95  80   90
지현  80  90  100

In [78]:
import pandas as pd

exam_data = {'이름' : ['창화', '현희', '양훈'], '국어' : [70, 90, 80], 
             '수학' : [80, 95, 80], '영어' : [100, 80, 90], '음악' : [70, 90, 100]}

df = pd.DataFrame(exam_data)

열 추가
- 데이터프레임 객체[열 이름] = 데이터 값
- 체육 점수 추가
 - 80, 95, 70

In [79]:
df['체육'] = [80, 95, 70]
print(df)

   이름  국어  수학   영어   음악  체육
0  창화  70  80  100   70  80
1  현희  90  95   80   90  95
2  양훈  80  80   90  100  70

열 중간에 추가하고 싶은 경우 insert() 함수 사용
- 데이터프레임 객체.insert(위치, 열 이름, 데이터 값)
- 4번 자리에 과학을 추가
 - 90, 100, 85

In [81]:
df.insert(4, "과학", [90, 100, 85])

In [82]:
print(df)

   이름  국어  수학   영어   과학   음악  체육
0  창화  70  80  100   90   70  80
1  현희  90  95   80  100   90  95
2  양훈  80  80   90   85  100  70

In [84]:
import pandas as pd

exam_data = {'이름' : ['남준', '영롱', '준영'], '국어' : [70, 90, 80], 
             '수학' : [80, 95, 80], '영어' : [100, 80, 90], '음악' : [70, 90, 100]}

df = pd.DataFrame(exam_data)
print(df)

   이름  국어  수학   영어   음악
0  남준  70  80  100   70
1  영롱  90  95   80   90
2  준영  80  80   90  100

행 추가
- 추가하려는 행 이름과 데이터값을 loc 사용하여 입력
 - 데이터프레임 객체.loc['새로운 행 이름'] = 데이터 값
 - 행 인덱스가 정수일 경우 loc[정수] 입력

행 인덱스 이름이 3인 행 추가
- 데이터 값은 0으로 지정

df 출력

In [85]:
df.loc[3] = 0
print(df)

   이름  국어  수학   영어   음악
0  남준  70  80  100   70
1  영롱  90  95   80   90
2  준영  80  80   90  100
3   0   0   0    0    0

행 인덱스 이름이 4인 행 추가
- 데이터 값은 민철, 100, 75, 85 ,80

In [86]:
df.loc[4] = ['민철', 100, 75, 85, 80]
print(df)

   이름   국어  수학   영어   음악
0  남준   70  80  100   70
1  영롱   90  95   80   90
2  준영   80  80   90  100
3   0    0   0    0    0
4  민철  100  75   85   80

기존 행 복사
- 데이터프레임 객체.loc['새로운 행 이름'] = 데이터프레임 객체.loc[복사할 행 이름]
- 행 인덱스 이름이 5인 행 추가
 - 행 인덱스 이름이 3인 행 복사

In [87]:
df.loc[5] = df.loc[3]
print(df)

   이름   국어  수학   영어   음악
0  남준   70  80  100   70
1  영롱   90  95   80   90
2  준영   80  80   90  100
3   0    0   0    0    0
4  민철  100  75   85   80
5   0    0   0    0    0

행을 중간에 추가하고 싶을 경우 append() 함수 사용
- 행은 순서가 있음
- 중간에 행을 추가할 경우 기존 행 인덱스 + 새로운 행 인덱스 + 기존 행 인덱스

In [89]:
import pandas as pd

exam_data = {'이름' : ['기은', '경덕', '유진'], '국어' : [70, 90, 80], 
             '수학' : [80, 95, 80], '영어' : [100, 80, 90], '음악' : [70, 90, 100]}

df = pd.DataFrame(exam_data)
df.loc[4] = ['성민', 100, 75, 85, 80]
print(df)

   이름   국어  수학   영어   음악
0  기은   70  80  100   70
1  경덕   90  95   80   90
2  유진   80  80   90  100
4  성민  100  75   85   80

In [91]:
label = df.iloc[:3]
label2 = df.iloc[3]

print(label)
print(label2)

   이름  국어  수학   영어   음악
0  기은  70  80  100   70
1  경덕  90  95   80   90
2  유진  80  80   90  100
이름     성민
국어    100
수학     75
영어     85
음악     80
Name: 4, dtype: object

In [92]:
exam_data2 = {'이름' : '종현',
              '국어' : 90,
              '수학' : 100,
              '영어' : 80,
              '음악' : 85}

In [93]:
df = label.append(exam_data2, ignore_index=True).append(label2, ignore_index=True)

- ignore_index 인자를 사용하여 인덱스 재배열
 - 기존 행 인덱스 번호를 사용하지 않고 연속된 인덱스 번호를 사용

In [94]:
print(df)

   이름   국어   수학   영어   음악
0  기은   70   80  100   70
1  경덕   90   95   80   90
2  유진   80   80   90  100
3  종현   90  100   80   85
4  성민  100   75   85   80

- 데이터프레임끼리 합치는 것도 가능

In [104]:
import pandas as pd

exam_data = {'이름' : ['은규', '남준', '재선'], '국어' : [70, 90, 80], 
             '수학' : [80, 95, 80], '영어' : [100, 80, 90], '음악' : [70, 90, 100]}

df = pd.DataFrame(exam_data)

원소 값 변경
- 인덱스 이름
 - 데이터프레임 객체.loc[행 인덱스 이름, 열 이름] = 데이터 값
 - 복수 : 데이터프레임 객체.loc[행 인덱스 이름, [열 이름, 열 이름]] = 데이터 값, 데이터 값
- 정수 위치 인덱스
 - 데이터프레임 객체.iloc[행 번호, 열 번호] = 데이터 값
 - 복수 : 데이터프레임 객체.iloc[행 번호, [열 번호, 열 번호]] = 데이터 값, 데이터 값

인덱스 이름을 사용하여 '은규'의 '국어' 점수를 95점으로 변경

In [105]:
df.set_index('이름', inplace = True)
print(df)

    국어  수학   영어   음악
이름
은규  70  80  100   70
남준  90  95   80   90
재선  80  80   90  100

In [106]:
df.loc['은규', '국어'] = 95
print(df)

    국어  수학   영어   음악
이름
은규  95  80  100   70
남준  90  95   80   90
재선  80  80   90  100

정수 위치 인덱스를 사용하여 '은규'의 '국어' 점수를 90점으로 변경

In [107]:
df.iloc[0, 0] = 90

In [108]:
print(df)

    국어  수학   영어   음악
이름
은규  90  80  100   70
남준  90  95   80   90
재선  80  80   90  100

In [109]:
df.iloc[0][0] = 90

- 원소 값을 바꾸는 다른 방법(정수 위치 인덱스)

인덱스 이름을 사용하여 '남준'의 '수학', '영어' 점수를 100점으로 변경

In [110]:
df.loc['남준', ['수학', '영어']] = 100
print(df)

    국어   수학   영어   음악
이름
은규  90   80  100   70
남준  90  100  100   90
재선  80   80   90  100

인덱스 이름을 사용하여 '재선'의 '국어', '수학' 점수를 95, 90점으로 변경

In [111]:
df.loc['재선', ['국어', '수학']] = 95, 90
print(df)

    국어   수학   영어   음악
이름
은규  90   80  100   70
남준  90  100  100   90
재선  95   90   90  100

행, 열의 위치 바꾸기
- 전치행렬

방법 2가지
- 데이터프레임 객체.transpose()
- 데이터프레임 객체.T

In [113]:
import pandas as pd

exam_data = {'이름' : ['유정', '동건', '영호'], '국어' : [70, 90, 80], 
             '수학' : [80, 95, 80], '영어' : [100, 80, 90], '음악' : [70, 90, 100]}

df = pd.DataFrame(exam_data)

데이터프레임의 '이름' 열을 인덱스로 지정<br>
행, 열의 위치 바꾸어 df 객체에 저장

In [114]:
df.set_index('이름', inplace = True)

In [115]:
print(df)

    국어  수학   영어   음악
이름
유정  70  80  100   70
동건  90  95   80   90
영호  80  80   90  100

In [116]:
df = df.transpose()

In [118]:
print(df)

이름   유정  동건   영호
국어   70  90   80
수학   80  95   80
영어  100  80   90
음악   70  90  100

df의 인덱스 확인

In [119]:
print(df.index)

Index(['국어', '수학', '영어', '음악'], dtype='object')

인덱스 활용

In [120]:
import pandas as pd

exam_data = {'이름' : ['석호', '성민', '영롱'], '국어' : [70, 90, 80], 
             '수학' : [80, 95, 80], '영어' : [100, 80, 90], '음악' : [70, 90, 100]}

df = pd.DataFrame(exam_data)

특정 열을 행 인덱스로 설정
- set_index(열 이름)

이름 열을 행 인덱스로 지정
- ndf

In [122]:
ndf = df.set_index('이름')
print(ndf)

    국어  수학   영어   음악
이름
석호  70  80  100   70
성민  90  95   80   90
영롱  80  80   90  100

ndf에서 음악 열을 행 인덱스로 지정
- ndf2

In [123]:
ndf2 = ndf.set_index('음악')
print(ndf2)

     국어  수학   영어
음악
70   70  80  100
90   90  95   80
100  80  80   90

- 행 인덱스가 지정된 상태에서 다른 행 인덱스를 지정하면 기존 행 인덱스는 제거됨
 - 인덱스는 실제 데이터가 아니라 이름표 역할이기 때문에 그냥 사라진다고 생각하면 됨

In [124]:
ndf3 = ndf2.reset_index('음악')
print(ndf3)

    음악  국어  수학   영어
0   70  70  80  100
1   90  90  95   80
2  100  80  80   90

행 인덱스 지정은 두 개 이상도 가능(열 이름을 대괄호로 묶어줌)
- ndf로 ndf4 만들기
- 수학, 영어를 행 인덱스로 지정

In [125]:
ndf4 = ndf.set_index(['수학', '영어'])
print(ndf4)

        국어   음악
수학 영어
80 100  70   70
95 80   90   90
80 90   80  100