list 정렬- sort

In [3]:
a=[1,4,2,3]
a.sort()
print(a)

[1, 2, 3, 4]

In [8]:
a=['abc','123','You need python','아이스크림']
a.sort()
print(a)

['123', 'You need python', 'abc', '아이스크림']

리스트 뒤집기 reverse
- 현재 리스트를 역순으로 뒤집어주는 명령어

In [10]:
a=['a','c','b']
a.reverse()
print(a)

['b', 'c', 'a']

In [12]:
#index : 원소 x값의 위치 찾기
a=[1,2,3]
print(a.index(3))
print(a.index(0))

2

ValueError: 0 is not in list

리스트에 요소 삽입 insert
- insert(a,b)

In [13]:
a=[1,2,3]
a.insert(0,4)
print(a)

[4, 1, 2, 3]

In [15]:
#2번자리에 list를 넣어보기
a.insert(2,['a','b'])
print(a)

[4, 1, ['a', 'b'], 2, 3]

리스트 요소 제거 remove

In [17]:
a=[1,2,3,1,2,3]
a.remove(3)
a.remove(3)
print(a)

[1, 2, 1, 2]

In [23]:
a=[1,2,3]
a.pop()

3

In [24]:
print(a)

[1, 2]

In [25]:
a=[1,2,3]
a.pop(1)

2

In [26]:
print(a)

[1, 3]

리스트 요소 개수 세기 count

In [27]:
a=[1,2,3,1]
print(a.count(1))

2

리스트 확장 expand
- 기존 리스트에 리스트를 더해주기

In [33]:
a= [1,2,3]
b=[4,5]
a.extend([4,5])
print(a)

[1, 2, 3, 4, 5]

튜플 생성하기

In [34]:
t1=()
t2=(1)
t3=(1,)
t4=(1,2,3)
t5= 1,2,3
t6=(1,2,3,(4,5))

In [36]:
print(t1,t2,t3,t4,t5,t6)
print(type(t1),type(t2),type(t3),type(t4),type(t5),type(t6))

() 1 (1,) (1, 2, 3) (1, 2, 3) (1, 2, 3, (4, 5))
<class 'tuple'> <class 'int'> <class 'tuple'> <class 'tuple'> <class 'tuple'> <class 'tuple'>

In [37]:
t7=(1,2,3,[4,5])

In [38]:
print(t7)
print(type(t7))

(1, 2, 3, [4, 5])
<class 'tuple'>

In [39]:
t8=[1,2,3,(4,5)]
print(t8)

[1, 2, 3, (4, 5)]

In [41]:
t1=(1,2,'a','b')
del t1[0]
print(t1)

TypeError: 'tuple' object doesn't support item deletion

In [42]:
t1[0]= 'c'

TypeError: 'tuple' object does not support item assignment

튜플 인덱싱과 슬라이싱

In [44]:
t1= (1,2,'a','b')
print(t1[0])
print(t1[3])

1
b

In [45]:
print(t1[1:])

(2, 'a', 'b')

In [46]:
t1=(1,2,'a','b')
t2=(3,4)
print(t1+t2)

(1, 2, 'a', 'b', 3, 4)

In [47]:
t3=t1+t2
print(t3)

(1, 2, 'a', 'b', 3, 4)

튜플 t4에 튜플 t1에 3을 곱한 값을 저장
튜플 t4 결과를 출력

In [48]:
t4=3*t1
print(t4)

(1, 2, 'a', 'b', 1, 2, 'a', 'b', 1, 2, 'a', 'b')

패킹과 언패킹
- 패킹
 - 한 데이터에 여러개의 데이터를 넣는 것
- 언패킹
 - 한 데이터에서 데이터를 꺼내오는 것

In [49]:
#패킹
T1=(1,2,3,4,5)
#언패킹
a,b,c,d,e = T1

In [51]:
print(a,b,c,d,e)

1 2 3 4 5

In [52]:
#T_1 언패킹(a에 값 하나 저장, b에 값하나 저장 나머지는 c에)
a,b, *c=T1
print(a,b,c)

1 2 [3, 4, 5]

리스트 => 튜플 변경

In [53]:
L=[1,2,3,4,5]
T=tuple(L)
print(T)
L_2=list(T)
print(L_2)

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]

In [55]:
dic={'name':'seongkyun', 'phone':'01029506098', 'birthday':'1110'}
print(dic)

{'name': 'seongkyun', 'phone': '01029506098', 'birthday': '1110'}

In [56]:
a={'a':[1,2,3]}
print(a)

{'a': [1, 2, 3]}

In [57]:
#dict() 함수 사용하기
a= dict(one=1,two=2) #이경우 one,을 자동으로 문자열로 해석함
print(a)

{'one': 1, 'two': 2}

In [59]:
b=dict([['one',1],['two',1]])
print(b)

{'one': 1, 'two': 1}

In [61]:
keys=['one','two','three']
values=[1,2,3]
a=dict(zip(keys,values))
print(a)

{'one': 1, 'two': 2, 'three': 3}

In [65]:
a={1:'a'}
print(a)
a['name']='pay'
print(a)

{1: 'a'}
{1: 'a', 'name': 'pay'}

함수와 딕셔너리 함께 사용가능

In [66]:
def add(a,b):
    return a+b

def sub(a,b):
    return a-b

action={0:add, 1:sub}

In [67]:
action[0](4,5)

9

In [69]:
keys=[1,2,'name',3]
values=['a','b','pey',[123]]
a=dict(zip(keys,values))
print(a)

{1: 'a', 2: 'b', 'name': 'pey', 3: [123]}

In [70]:
del a[1]
print(a)

{2: 'b', 'name': 'pey', 3: [123]}

In [71]:
print(a['name'])

pey

key 리스트 만들기

In [77]:
print(a.keys())
print(type(a.keys()))
print(a.values())
print(type(a.values()))

dict_keys([2, 'name', 3])
<class 'dict_keys'>
dict_values(['b', 'pey', [123]])
<class 'dict_values'>

In [81]:
print(a.items())
print(type(a.items()))

dict_items([(2, 'b'), ('name', 'pey'), (3, [123])])
<class 'dict_items'>

In [83]:
#딕셔너리 쌍 모두 지우기- 클리어 함수
a.clear()
print(a)

{}

In [88]:
#키로 값 얻는 함수
keys=[1,2,'name',3]
values=['a','b','pey',[123]]
a=dict(zip(keys,values))
print(a)
print(a.get('name'))
print(a['name'])
print(a.get('birth'))
print(a['birth'])

{1: 'a', 2: 'b', 'name': 'pey', 3: [123]}
pey
pey
None

KeyError: 'birth'

In [91]:
print('name' in a)
print('birth' in a)

True
False

In [92]:
s1= set([1,2,3])
print(s1)
print(type(s1))

{1, 2, 3}
<class 'set'>

In [94]:
s2= set((1,2,3))
print(s2)

{1, 2, 3}

In [97]:
s3=set(('Hello'))
print(s3)

{'e', 'o', 'l', 'H'}

In [98]:
s1=set((1,2,3,4,5,6))
s2=set((4,5,6,7,8,9))

In [101]:
# 교집합
print(s1 & s2)
print(s1.intersection(s2))

{4, 5, 6}
{4, 5, 6}

In [103]:
#합집합
print(s1|s2)
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [105]:
#차집합 
print(s1-s2)
print(s1.difference(s2))

{1, 2, 3}
{1, 2, 3}

In [106]:
s1=set((1,2,3))
s1.add(4)
print(s1)

{1, 2, 3, 4}

In [110]:
s1.update((4,5,6))
print(s1)

{1, 2, 3, 4, 5, 6}

In [111]:
s1.remove(2)
print(s1)

{1, 3, 4, 5, 6}

In [112]:
#변경 불가능한 집합 생성
s2= frozenset([1,2,3])

In [115]:
print(s2)
print(type(s2))
s2.add(4)

frozenset({1, 2, 3})
<class 'frozenset'>

AttributeError: 'frozenset' object has no attribute 'add'

In [116]:
s2.update([4,5])

AttributeError: 'frozenset' object has no attribute 'update'

In [117]:
s2.remove(3)

AttributeError: 'frozenset' object has no attribute 'remove'

In [120]:
a= True
b= False

print(type(a),type(b))

<class 'bool'> <class 'bool'>

부울 자료형의 참과 거짓
- 'python' : 참 => 따옴표 안에 문자열이 들어가 있으면 참
- '' : =>아무것도 없으면 거짓
- [1,2,3] => 참
- [] => 거짓
- (1,2,3) => 참
- () => 거짓
- {'key','value'} => 참
- {} 거짓
- 1 => 참
- 0 => 거짓
- None => 거짓

In [121]:
if [1,2,3]:
    print('참')
else:
    print('거짓')

참

In [122]:
bool('python')

True

In [123]:
bool('')

False